* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: #00041e;
}

html{
    height: 100%;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

.header:hover::before {
    left: 100%;
}

.logo {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logo-img {
    height: 48px;
    margin-right: 10px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover {
    color: #f00;
}
.Initial-container{
    display: grid;
    gap: 10px;
    grid-template: 
    "A1" 90px
    "A2" 60px
    "A3" Auto
    "A4" 25px;
    .header{
        grid-area: A1;
    }
    .welcome{
        grid-area: A2;
    }
    .main-container{
        grid-area: A3;
    }
    .footer-container{
        grid-area: A4;
    }
}
.main-container{
    display: grid;
    gap: 10px;
    grid-template: 
    "B1" 1fr
    "B2" 1fr;
    .personaldescription{
        grid-area: B1;
    }
    #teachersreviews{
        grid-area: B2;
    }
}
.personaldescription{
    display: grid;
    gap: 10px;
    grid-template: 
    "C1 C2 C3" 1fr
    "C1 C4 C3" 1fr;
    .projects{
        grid-area: C1;
    }
    .workexperience{
        grid-area: C2;
    }
    .education{

        grid-area: C3;
    }
    .opensourcework{
        grid-area: C4;
    }
}
.personaldescription>*{
    margin: 10px;
}
.personaldescription ul,.personaldescription li{
    list-style:none;
    margin-top: 15px;
}
.workexperience>*,.opensourcework >*,.projects>*,.education>*{
    margin-top: 15px;
}
.welcome>*{
    display: flex;
    justify-content:center;
}
#teachersreviews{
    display: grid;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    border-style: solid;
    gap:10px;
    grid-template: 
    "D1 D1 D1" 0.3fr
    "D2 D3 D4" 0.5fr /
    1fr 1fr 1fr;
    .titleTR{
        display: flex;
        justify-content:center;
        align-items: center;
        grid-area: D1;
    }
    .teacher1{
        padding: 10px;
        border-radius: 20px;
        border-style: solid;
        grid-area: D2;
    }
    .teacher2{
        padding: 10px;
        
        border-radius: 20px;
        border-style: solid;
        grid-area: D3;
    }
    .teacher3{
        padding: 10px;
        border-radius: 20px;
        border-style: solid;
        grid-area: D4;
    }
}
.titleTR H2{
    text-align: center;
}
@media (max-width: 768px) {
    #teachersreviews{
        grid-template: 
        "D1 D1" 0.3fr
        "D2 D3" auto
        "D4 D4" 0.5fr /
        1fr 1fr;
    }
    .personaldescription{
        display: grid;
        gap: 10px;
        grid-template: 
        "C1 C2" 1fr 
        "C3 C4" 1fr;
    }
    .Initial-container{
        display: grid;
        gap: 10px;
        grid-template: 
        "A1" 132px
        "A2" 60px
        "A3" Auto
        "A4" 25px;
    }
    .header {
        flex-direction: column;
        padding: 20px 30px;
    }

    .logo {
        font-size: 20px;
        margin-bottom: 10px;
        text-align: center;
    }

    .logo-img {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .navbar a {
        margin: 0 15px;
    }
}
